.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
/* Empieza el estilo del form de Login*/
.form-container {
  background-color: hwb(191 10% 35%);
  color: #fff;
  padding: 20px; 
  max-width: 400px; 
  margin: auto; 
  min-width: 200px;
}

.titulodeform {
  font-size: 2rem;
  margin-bottom: 15px; 
  text-align: center;
  display: block; 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  width: 100%;
}

.form-space {
  margin-bottom: 10px; 
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form button {
  width: 100%;
  padding: 10px; 
  margin-bottom: 10px; 
}

.login-form button {
  background-color: rgb(3, 97, 118);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  min-width: 100px;
}

/* Estilos de la tabla */
.pb-5.container, .container {
  width: 100%;
  max-width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tablaProd {
  width: 100%;
  color: #000000;
  text-align: left;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size: 1.5vw;
}
#tablaProd th {
  border-left: none;
  border-right: none;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-size: 90%;
  text-shadow: 1px 1px 0px hwb(0 48% 52%);
}

 .container #tablaProd th {
  background-color: #00ABE4;
}

#tablaProd td {
  background-color: hwb(0 91% 9%);
  font-size: 100%;
  border-bottom: 1.5px solid #757272;
  border-top: 1.5px solid #757272;
}


#tablaProd td:nth-child(5) {
  background-color:  #E9F1FA;
  text-align: center;
  border-right:1.5px solid #757272; 
}
#tablaProd th:nth-child(5) {
  text-align: center;

  
}

#tablaProd td:nth-child(4) {
  text-align: center;
  font-weight: bold;
  background-color:  hwb(0 100% 0%);
font-size: larger;  
  
}
#tablaProd tbody tr {
  box-shadow: 3px 3px 3px rgba(30, 55, 90, 0.9);
}
#tablaProd tbody tr:hover {
  background-color: #f0f8ff; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
  transform: scale(1.03);
}


#tablaProd th:nth-child(4) {
  text-align: center;
}

#tablaProd td:nth-child(3) {
  background-color:#ffffff;
  font-size: larger;
  text-align: left;
}

#tablaProd td:nth-child(2) {
  text-align: center;
  background-color:  #E9F1FA;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 0px 2px 2px #3e4547; 
  color:  rgba(30, 55, 90, 0.9);
  display: auto;

  
}
#tablaProd th:nth-child(2) {
  text-align: center;
  display: auto;

}

#tablaProd td:nth-child(1)  {
  text-align: center;
  background-color:  #E9F1FA;
  border-left:1.5px solid #757272; 
}



#tablaProd td img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  border-radius: 10px;
  background-color: #E9F1FA;
  box-shadow: 5px 5px 0px  rgba(30, 55, 90, 0.9);
  min-width: 30px;
}

.input-container {
  position: relative;
  padding-right: 10px;
  padding-top: 10px;
}



/* Estilos de los botones para filtrar*/

.fas, .fa-sort-amount-down, .mr-1
{ 
  padding: 10px;
  
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.input-container input {
  padding-left: 35px;
}
/* Entrega 3 ESTILOS DE LA TABLA Y CARRUSEL DE FOTOS */

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ESTILOS PARA LA FILA DE LAS FOTOS */
#filadecarousel {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px 0; 
}

/* Contenedor del carrusel */
#productImagesContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  width: 100%; 
}

/* BOTONES PARA IR PASANDO LAS FOTOS DE LOS PRODUCTOS */

/* ESTILO DE LOS BOTONES */
.carousel-button {
  position: absolute; 
  top: 90%; 
  transform: translateY(-50%); 
  background-color: #00ABE4; 
  border: 2px solid #ffffff; 
  border-radius: 30%; /* Forma para los botones */
  padding: 10px; 
  cursor: pointer; /* Indica que se puede hacer click en el boton, cambia el cursor */
  z-index: 10; 
  font-size: 10px; /* Tamaño del ícono de los botones */
  width: 30px; /* Ancho de los botones */
  height: 30px; /* Altura de los botones */
  display: flex; 
  justify-content: center; 
  align-items: center;
  opacity: 0.7;
}

/* Boton de ir para atras */
.carousel-button.prev {
  left: 10px; 
}

/* Boton de ir para adelante */
.carousel-button.next {
  right: 10px; 
}

/* Estilo del carrusel de fotos */
.carousel {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: auto; 
  height: auto; 
  overflow: hidden; 
}

/* Imágenes dentro del carrusel */
#productImages img {
  max-width: 100%; 
  height: auto; 
  border-radius: 5%;
}


/* estilos de la tabla con la info de los productos */
#tinfoprod {
  color: #000000;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size: 1.5vw;
  width: 100%;
  background-color: #E9F1FA;
}


#tinfoprod .headerSoldCount {
  color: #ABB4BD;
  font-weight: bold;
  text-shadow: 1px 1px 0px hwb(0 48% 52%);
  background-color: #E9F1FA;
}


#tinfoprod .header-name
/* Nombre del producto seleccionado*/ {
  background-color: #00ABE4 !important;
  border-radius: 0px; 
  color: white;
  padding: 10px 20px; 
  text-align: center;
  display: inline-block; 
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

#tinfoprod .header-description
/* Rectangulo de la descripcion del producto*/
{
  background-color: #ffffff !important;
  border-radius: 20px; 
  color: rgb(0, 0, 0);
  padding: 30px 50px; 
  text-align: center; 
  display: inline-block; 
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

#productImagesContainer 
/* Contenedor de las imagenes*/
{
  background-color: #1E375A ;
  border:#00ABE4 groove 2px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.headerSoldCount 
/* subtitulos*/{
  background-color: #E9F1FA;
}

.texto-der 
/* cantidad de vendidos*/
{
  color: #1E375A ;
  padding-right: 10px;
  
}

.texto-izq
/* Categoria*/
{
  padding-left: 10px;
  color: #3e4547;
}